@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />

<MyButton Text="Press Me" OnClick="HandleClick" />

@code{
    private void HandleClick()
    {
        Console.WriteLine("Button Clicked!");
    }
}
